:root {
    --green: var(#38AF90);
    --text-gray:var(#797979);
    --red:var(#DD7E92);
    --background-gray:var(#F0F0F0);
    --background-footer:var(#383838);
    --white:var(#FFFFFF);  

}
.nav-bar{
    
}