@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --green: #38AF90;
    --text-gray: #797979;
    --red: #DD7E92;
    --background-gray: #F0F0F0;
    --background-footer: #383838;
    --white: #FFFFFF;
    --gray-placeholder: #c4c4c4;
}

* {
    box-sizing: border-box;
    /* A largura da borda é descontada do tamanho */
}

html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    background: var(--green);
    height: 90px;
}

.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-left: 10px;
}

.nav-main h2 {
    color: var(--white);
    font-family: Poppins;
    font-size: 18px;
}

.nav-main-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding-right: 10px;
}

.nav-main-text h3 {
    color: var(--green);
    font-family: Poppins;
    font-size: 6px;
}

.nav-main-text img {
    width: 62px;
    height: 62px;
}


.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;

}

.section-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
}

.title-card-news h2 {
    font-family: Poppins;
    font-weight: 700;
    color: var(--text-gray);
    font-size: 24px;
}

.card-news {
    background: var(--background-gray);
    padding: 10px;
    border-radius: 8px;
}

.card-news h2 {
    color: var(--green);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.card-news h3 {
    color: var(--text-gray);
    font-family: Poppins;
    font-weight: 700;
    margin: 0;
    padding-bottom: 3px;
    font-size: 12px;
}

.card-news h4 {
    border-top: #38AF90 1px solid;
    color: var(--green);
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    margin: 0px;
    padding-top: 1px;
}

.card-news p {
    color: var(--text-gray);
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    margin: 0px;
    padding-top: 12px;
}

.card-news h5 {
    color: var(--red);
    font-family: Poppins;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 18px;
}

.section-news button {
    color: var(--white);
    background: var(--red);
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    width: 244px;
    height: 67px;
    border-radius: 8px;
    border: 0px;
    margin-top: 28px;
    margin-bottom: 40px;
}

.card-game {
    display: flex;
    flex-direction: column;
    background: var(--background-gray);
}

.container h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    color: var(--green);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 28px;
    margin: 0px;
}

.card-game img {
    width: 300px;
    height: 326px;
    padding: 0px;
    margin: 0px;
}

.container-form {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}

.section-form {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.section-form h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: var(--text-gray);
    padding-top: 40px;
    padding-bottom: 16px;
    margin: 0px;
}

.card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background-gray);
    border-radius: 8px;
    margin: 0px 8px 0px 12px;
    padding-left: 8px;
}

.card-form-cadastro {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 52px;
    width: 760px;
}

.card-form-cadastro input {
    width: 280px;
    height: 50px;
    border: 1px solid var(--text-gray);
    border-radius: 4px;
    background-color: var(--white);
    margin: 0px 12px 20px 0px;
}

.section-form ::placeholder {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-placeholder);
    padding: 13px 214px 13px 22px;
}

.selection-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selection-form h3 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-gray);
}

.radio-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-form input {
    width: 23px;
    height: 23px;
}

.radio-form label {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-gray);
}

.a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a label {
    padding-left: 7px;
}

a input {
    margin: 0;
    padding-left: 0px;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b label {
    padding-left: 7px;
}

.c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c label {
    padding-left: 7px;
}

.selection-form-checkbox {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 35px;
}

.selection-form-checkbox input {
    width: 23px;
    height: 23px;
}

.selection-form-checkbox label {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-gray);
    padding-left: 7px;
}

.selection-form-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selection-form-button-enviar button {
    width: 244px;
    height: 67px;
    background-color: var(--red);
    border-radius: 8px;
    color: var(--white);
    border: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    margin: 47px 30px 20px 26px;
}

.selection-form-button-limpar button {
    width: 244px;
    height: 67px;
    background-color: var(--white);
    border: 2px var(--red) solid;
    border-radius: 8px;
    color: var(--red);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 30px 20px 26px;
}

footer {
    background: var(--background-footer);
    color: var(--white);
}

.text-footer{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.text-footer-left{
    padding: 0px;
    margin: 0px;
    padding-top: 28px;
}

.text-footer-left h1{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    padding: 0px;
    margin: 0px;
}

.text-footer-left h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}
.text-footer-center h1{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
}
.text-footer-right h1{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    padding: 0px;
    margin: 0px;
}
.text-footer-right h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    padding: 0px;
    margin: 0px;
    padding-bottom: 30px;
}

@media(min-width: 1200px) {
    .nav-main h2 {
        font-size: 24px;
    }

    .nav-main-text h3 {
        color: var(--white);
        padding-right: 29px;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 500;
    }

    .title-card-news h2 {
        font-size: 36px;
    }

    .card-news h2 {
        font-size: 24px;
    }

    .card-news h3 {
        font-size: 16px;
    }

    .container h1 {
        font-size: 36px;
    }

    .section-form h2 {
        font-size: 36px;
    }

    .card-form-cadastro {
        align-items: center;
        margin-top: 52px;
        width: 760px;
    }

    .card-form-cadastro input {
        width: 642px;
    }

    .selection-form-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 760px;
        padding-top: 38px;
        padding-bottom: 52px;
    }

    .selection-form-button button {
        margin: 0px;
        padding-top: 0px;
    }
    
    .text-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 302px;
        align-items: center;
    }

    .text-footer h1 {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: var(--white);
        padding: 0px;
        margin: 0px;
    }

    .text-footer-center {
        margin-top: 35px
    }

    .text-footer h2 {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        align-items: center;
        color: var(--white);
        padding: 0px;
        margin: 0px;
    }

}