@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --green: #38AF90;
    --text-gray:#797979;
    --red:#DD7E92;
    --background-gray:#F0F0F0;
    --background-footer:#383838;
    --white:#FFFFFF;  
}
* {
    box-sizing: border-box; /* A largura da borda é descontada do tamanho */
}
html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.nav-bar{
    background: var(--green);
    height: 90px;  
}
.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.nav-main h1{
    color: var(--white);
    font-family:Poppins;
    font-size: 18px;
}
.nav-main img{
    width: 62px;
    height: 62px;
}
.container{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.section-news{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 10px;
    margin-bottom:8px;
}
.title-card-news{
    margin:0px;
    padding: 0px;
    color: var(--text-gray);
    display: flex;
    justify-content: center;
}
.card-news{
    background: var(--background-gray);
    padding: 10px;
    border-radius:8px;
    
}
.card-news h2{
    color: var(--green);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    margin:0;
    padding:0;
}
.card-news h3{
    color: var(--text-gray);
    font-family: Poppins;
    font-weight: 700;
    margin:0;
    padding-bottom:3px;
    font-size: 12px;
}
.card-news h4{
    border-top: #38AF90 1px solid;
    color:var(--green);
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    margin:0px;
    padding-top:1px;   
}
.card-news p{
    color:var(--text-gray);
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    margin:0px;
    padding-top:12px;   
}
.card-news h5{
    color:var(--red);
    font-family: Poppins;
    font-weight: 700;
    font-size: 14px;
    margin:0px;
    padding-top:15px;
    padding-bottom: 18px;   
}
.section-news button{
    color:var(--white);
    background: var(--red);
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    width: 244px;
    height: 67px;
    border-radius:8px;
    border:0px;
}




